In [1]:
import sqlite3

# Create a SQL connection to our SQLite database
con = sqlite3.connect("FPA_FOD_20210617.sqlite")

In [3]:
import pandas as pd

In [5]:
df = pd.read_sql_query("SELECT * from Fires", con)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2166753 entries, 0 to 2166752
Data columns (total 37 columns):
 #   Column                         Dtype
---  ------                         -----
 0   FOD_ID                         int64
 1   FPA_ID                         object
 2   SOURCE_SYSTEM_TYPE             object
 3   SOURCE_SYSTEM                  object
 4   NWCG_REPORTING_AGENCY          object
 5   NWCG_REPORTING_UNIT_ID         object
 6   NWCG_REPORTING_UNIT_NAME       object
 7   SOURCE_REPORTING_UNIT          object
 8   SOURCE_REPORTING_UNIT_NAME     object
 9   LOCAL_FIRE_REPORT_ID           object
 10  LOCAL_INCIDENT_ID              object
 11  FIRE_CODE                      object
 12  FIRE_NAME                      object
 13  ICS_209_PLUS_INCIDENT_JOIN_ID  object
 14  ICS_209_PLUS_COMPLEX_JOIN_ID   object
 15  MTBS_ID                        object
 16  MTBS_FIRE_NAME                 object
 17  COMPLEX_NAME                   object
 18  FIRE_YEAR                      int64
 19  DISCOVERY_DATE                 object
 20  DISCOVERY_DOY                  int64
 21  DISCOVERY_TIME                 float64
 22  NWCG_CAUSE_CLASSIFICATION      object
 23  NWCG_GENERAL_CAUSE             object
 24  NWCG_CAUSE_AGE_CATEGORY        object
 25  CONT_DATE                      object
 26  CONT_DOY                       float64
 27  CONT_TIME                      float64
 28  FIRE_SIZE                      float64
 29  FIRE_SIZE_CLASS                object
 30  LATITUDE                       float64
 31  LONGITUDE                      float64
 32  OWNER_DESCR                    object
 33  STATE                          object
 34  COUNTY                         object
 35  FIPS_CODE                      object
 36  FIPS_NAME                      object
dtypes: float64(6), int64(3), object(28)
memory usage: 611.6+ MB

In [9]:
subset = df[(df.FIRE_YEAR >= 2000) & (df.FIRE_YEAR <= 2005)]

In [10]:
subset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 490092 entries, 0 to 2124096
Data columns (total 37 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   FOD_ID                         490092 non-null  int64
 1   FPA_ID                         490092 non-null  object
 2   SOURCE_SYSTEM_TYPE             490092 non-null  object
 3   SOURCE_SYSTEM                  490092 non-null  object
 4   NWCG_REPORTING_AGENCY          490092 non-null  object
 5   NWCG_REPORTING_UNIT_ID         490092 non-null  object
 6   NWCG_REPORTING_UNIT_NAME       490092 non-null  object
 7   SOURCE_REPORTING_UNIT          490092 non-null  object
 8   SOURCE_REPORTING_UNIT_NAME     490092 non-null  object
 9   LOCAL_FIRE_REPORT_ID           112337 non-null  object
 10  LOCAL_INCIDENT_ID              290823 non-null  object
 11  FIRE_CODE                      96309 non-null   object
 12  FIRE_NAME                      255846 non-null  object
 13  ICS_209_PLUS_INCIDENT_JOIN_ID  6716 non-null    object
 14  ICS_209_PLUS_COMPLEX_JOIN_ID   0 non-null       object
 15  MTBS_ID                        2961 non-null    object
 16  MTBS_FIRE_NAME                 2961 non-null    object
 17  COMPLEX_NAME                   1406 non-null    object
 18  FIRE_YEAR                      490092 non-null  int64
 19  DISCOVERY_DATE                 490092 non-null  object
 20  DISCOVERY_DOY                  490092 non-null  int64
 21  DISCOVERY_TIME                 289393 non-null  float64
 22  NWCG_CAUSE_CLASSIFICATION      490092 non-null  object
 23  NWCG_GENERAL_CAUSE             490092 non-null  object
 24  NWCG_CAUSE_AGE_CATEGORY        18873 non-null   object
 25  CONT_DATE                      277205 non-null  object
 26  CONT_DOY                       277205 non-null  float64
 27  CONT_TIME                      259068 non-null  float64
 28  FIRE_SIZE                      490092 non-null  float64
 29  FIRE_SIZE_CLASS                490092 non-null  object
 30  LATITUDE                       490092 non-null  float64
 31  LONGITUDE                      490092 non-null  float64
 32  OWNER_DESCR                    490092 non-null  object
 33  STATE                          490092 non-null  object
 34  COUNTY                         284681 non-null  object
 35  FIPS_CODE                      284681 non-null  object
 36  FIPS_NAME                      284681 non-null  object
dtypes: float64(6), int64(3), object(28)
memory usage: 142.1+ MB

In [12]:
subset["DISCOVERY_DATE"] = pd.to_datetime(subset["DISCOVERY_DATE"])

<ipython-input-12-630b9bfceee7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset["DISCOVERY_DATE"] = pd.to_datetime(subset["DISCOVERY_DATE"])

In [13]:
subset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 490092 entries, 0 to 2124096
Data columns (total 37 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   FOD_ID                         490092 non-null  int64
 1   FPA_ID                         490092 non-null  object
 2   SOURCE_SYSTEM_TYPE             490092 non-null  object
 3   SOURCE_SYSTEM                  490092 non-null  object
 4   NWCG_REPORTING_AGENCY          490092 non-null  object
 5   NWCG_REPORTING_UNIT_ID         490092 non-null  object
 6   NWCG_REPORTING_UNIT_NAME       490092 non-null  object
 7   SOURCE_REPORTING_UNIT          490092 non-null  object
 8   SOURCE_REPORTING_UNIT_NAME     490092 non-null  object
 9   LOCAL_FIRE_REPORT_ID           112337 non-null  object
 10  LOCAL_INCIDENT_ID              290823 non-null  object
 11  FIRE_CODE                      96309 non-null   object
 12  FIRE_NAME                      255846 non-null  object
 13  ICS_209_PLUS_INCIDENT_JOIN_ID  6716 non-null    object
 14  ICS_209_PLUS_COMPLEX_JOIN_ID   0 non-null       object
 15  MTBS_ID                        2961 non-null    object
 16  MTBS_FIRE_NAME                 2961 non-null    object
 17  COMPLEX_NAME                   1406 non-null    object
 18  FIRE_YEAR                      490092 non-null  int64
 19  DISCOVERY_DATE                 490092 non-null  datetime64[ns]
 20  DISCOVERY_DOY                  490092 non-null  int64
 21  DISCOVERY_TIME                 289393 non-null  float64
 22  NWCG_CAUSE_CLASSIFICATION      490092 non-null  object
 23  NWCG_GENERAL_CAUSE             490092 non-null  object
 24  NWCG_CAUSE_AGE_CATEGORY        18873 non-null   object
 25  CONT_DATE                      277205 non-null  object
 26  CONT_DOY                       277205 non-null  float64
 27  CONT_TIME                      259068 non-null  float64
 28  FIRE_SIZE                      490092 non-null  float64
 29  FIRE_SIZE_CLASS                490092 non-null  object
 30  LATITUDE                       490092 non-null  float64
 31  LONGITUDE                      490092 non-null  float64
 32  OWNER_DESCR                    490092 non-null  object
 33  STATE                          490092 non-null  object
 34  COUNTY                         284681 non-null  object
 35  FIPS_CODE                      284681 non-null  object
 36  FIPS_NAME                      284681 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(3), object(27)
memory usage: 142.1+ MB

In [14]:

con.close()

In [16]:

subset.to_pickle("fires_df.pkl")